{{define "article_edit_form_component"}}
    <!--
    EasyMDE をテキストエリアに使っている
    https://qiita.com/blue_islands/items/cafd076d6992c4a100e7
    -->
    <form method="post">
        <div class="form-group">
            <select name="release_flg" class="form-control" id="exampleFormControlSelect1">
                <option value="false">非公開</option>
                <option value="true">公開</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">タイトル</label>
            <input type="input" name="title" class="form-control" id="exampleFormControlInput1" placeholder="記事のタイトルを入力してください">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">本文</label>
            <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="記事の本文"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2" onclick="confirm('登録します？')">登録</button>
            <button type="submit" class="btn btn-primary mb-2" onclick="confirm('削除します？')">削除</button>
        </div>
    </form>

    <script>
        var easyMDE = new EasyMDE({element: document.getElementById('exampleFormControlTextarea1')});
    </script>
{{end}}